
<div class="card mb-4 shadow-lg" style="margin-top: 4cm;">
  <div class="card-body text-center">
    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="avatar"
      class="rounded-circle img-fluid" style="width: 150px;">
    <h5 class="my-3">John Smith</h5>
    <p class="text-muted mb-1">Full Stack Developer</p>
    <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
    <div class="d-flex justify-content-center mb-2">
      <button type="button" class="btn btn-primary" style="background-color: #ffc244;">Follow</button>
    </div>
  </div>
</div>
