<table class="table table-hover" style="background-color: #ffc244;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comment</th>
      <th scope="col">Address</th>
      <th scope="col">User email</th>
      <th scope="col">Price</th>
      <th scope="col">Deliver it</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of orders; let i = index">
      <td>{{1+i}}</td>
      <td>{{item.comment}}</td>
      <td>{{item.address}}</td>
      <td style="width: 12%;">{{item.email}}</td>
      <th style="width: 12%;">{{item.price}}</th>

      <td>
        <button class="btn btn-success">Accept</button>
      </td>
  </tr>
  </tbody>
</table>
