<h3 class="mb-5">Sign in</h3>
<form [formGroup]="loginForm">
  <div class="form-outline mb-4">
    <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched)" class="error-block">
            <span *ngIf="email.hasError('required')">
                Please provide email id
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid email id
            </span>
          </span>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="typePasswordX-2" >Password</label>
    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" formControlName="password"/>
    <span *ngIf="!password.valid && (password.touched)" class="error-block">
      <span *ngIf="password.hasError('required')">
        Please provide password
      </span>
      <span *ngIf="password.hasError('minlength')">
        Password should not be lesser than 8 character
      </span>
    </span>
  </div>

  <!-- Checkbox
  <div class="form-check d-flex justify-content-start mb-4">
    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
    <label class="form-check-label" for="form1Example3"> Remember password </label>
  </div> -->

  <button class="btn btn-primary btn-lg btn-block" type="button" (click)="onLogin()">Login</button>
  <hr class="my-4">
</form>
<!--<button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
  type="button"><i class="fab fa-google me-2"></i> Sign in with google</button>
-->
<button class="btn btn-danger" #loginRef> Login with Google</button>


