<h3 class="mb-5">Sign up</h3>

<div class="form-outline mb-2">
  <input type="text" id="typeUsername-2" class="form-control form-control-lg" />
  <label class="form-label" for="typeUsername-2">Username</label>
</div>

<div class="form-outline mb-2">
  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
  <label class="form-label" for="typeEmailX-2">Email</label>
</div>

<div class="form-outline mb-2">
  <input type="text" id="typeName-2" class="form-control form-control-lg" />
  <label class="form-label" for="typeName-2">First name</label>
</div>

<div class="form-outline mb-2">
  <input type="ematextil" id="typeLastName-2" class="form-control form-control-lg" />
  <label class="form-label" for="typeLastName-2">Last name</label>
</div>


<div class="form-outline mb-2">
  <input type="date" id="typeBirthday-2" name="trip-start" class="form-control form-control-lg" value="2018-07-22" min="2018-01-01" max="{{currentDate | 'yyyy-MM-dd'}}">
  <label class="form-label" for="typeBirthday-2">Birthday</label>
</div>

<div class="form-outline mb-2">
  <input class="form-control form-control-lg" id="typeLocation-2"  ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" />
  <label class="form-label" for="typeLocation-2">Address</label>
</div>

<div class="form-outline mb-2">
  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
  <label class="form-label" for="typePasswordX-2">Password</label>
</div>

<div class="form-outline mb-2">
  <input type="password" id="typePassword-3" class="form-control form-control-lg" />
  <label class="form-label" for="typePassword-3">Confirme password</label>
</div>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">

  <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
  <button class="btn btn-primary btn-lg btn-block" type="submit">Apply</button>
</div>
<hr class="my-4">
